/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #D6D4C2;
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #5C3E47;
  --global-text-color-light: #92B564;
  --global-theme-color: #C46F6F;
  --global-hover-color: #92B564;
  --global-footer-bg-color: #A48A73;
  --global-footer-text-color: #D6D4C2;
  --global-footer-link-color: #92B564;
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: #92B564;
  --global-card-bg-color: #{$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #5C3E47;
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #D6D4C2;
  --global-text-color-light: #92B564;
  --global-theme-color: #C46F6F;
  --global-hover-color: #92B564;
  --global-footer-bg-color: #A48A73;
  --global-footer-text-color: #D6D4C2;
  --global-footer-link-color: #92B564;
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #92B564;
  --global-card-bg-color: #{$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
